@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto_light {
  @layer font-light
  font-family: var(--font-roboto);
  font-weight: 100;
}

.playfair_display {
  font-family: var(--font-playfair_display);
  font-style: italic;
  background: linear-gradient(90deg, #4b0082, #1e90ff); /* Gradient renkler */
  -webkit-background-clip: text; /* Sadece metni gradient yap */
  -webkit-text-fill-color: transparent;
}
